# TON testnet configuration
HOT_WALLET_ADDRESS=
HOT_WALLET_SEED=
TON_CONFIG_URL=https://ton-blockchain.github.io/testnet-global.config.json
TON_KEYSTORE=./keystore
POLL_INTERVAL=15
DESTINATION=
AMOUNT=1000000000
JETTON_WALLET_ADDRESS=
JETTON_AMOUNT=
TOKENS=
